USE [ISCManagerment]
GO
ALTER TABLE [dbo].[STUDENT] DROP CONSTRAINT [FK_STUDENT_SCHOOL]
GO
ALTER TABLE [dbo].[STUDENT] DROP CONSTRAINT [FK_STUDENT_PROFILE]
GO
ALTER TABLE [dbo].[STUDENT] DROP CONSTRAINT [FK_STUDENT_MAJOR]
GO
ALTER TABLE [dbo].[STUDENT] DROP CONSTRAINT [FK_STUDENT_COURSE]
GO
ALTER TABLE [dbo].[STUDENT] DROP CONSTRAINT [FK_STUDENT_CLASSIFY]
GO
ALTER TABLE [dbo].[MAJORDEATIL] DROP CONSTRAINT [FK_MAJORDEATIL_SUBJECT]
GO
ALTER TABLE [dbo].[MAJORDEATIL] DROP CONSTRAINT [FK_MAJORDEATIL_MAJOR]
GO
ALTER TABLE [dbo].[MAJOR] DROP CONSTRAINT [FK_MAJOR_COURSE]
GO
/****** Object:  Table [dbo].[SUBJECT]    Script Date: 8/14/2019 1:48:25 PM ******/
DROP TABLE [dbo].[SUBJECT]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 8/14/2019 1:48:25 PM ******/
DROP TABLE [dbo].[STUDENT]
GO
/****** Object:  Table [dbo].[SCHOOL]    Script Date: 8/14/2019 1:48:25 PM ******/
DROP TABLE [dbo].[SCHOOL]
GO
/****** Object:  Table [dbo].[PROFILE]    Script Date: 8/14/2019 1:48:25 PM ******/
DROP TABLE [dbo].[PROFILE]
GO
/****** Object:  Table [dbo].[MAJORDEATIL]    Script Date: 8/14/2019 1:48:25 PM ******/
DROP TABLE [dbo].[MAJORDEATIL]
GO
/****** Object:  Table [dbo].[MAJOR]    Script Date: 8/14/2019 1:48:25 PM ******/
DROP TABLE [dbo].[MAJOR]
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 8/14/2019 1:48:25 PM ******/
DROP TABLE [dbo].[COURSE]
GO
/****** Object:  Table [dbo].[CLASSIFY]    Script Date: 8/14/2019 1:48:25 PM ******/
DROP TABLE [dbo].[CLASSIFY]
GO
/****** Object:  Table [dbo].[CLASSIFY]    Script Date: 8/14/2019 1:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSIFY](
	[Classify_ID] [int] NOT NULL,
	[Scholarship] [bit] NULL,
	[Deposit] [bit] NULL,
	[Tuition] [bit] NULL,
 CONSTRAINT [PK_CLASSIFY] PRIMARY KEY CLUSTERED 
(
	[Classify_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 8/14/2019 1:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE](
	[Course_ID] [int] NOT NULL,
	[Course_Topic] [nvarchar](50) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Decription] [nvarchar](255) NULL,
 CONSTRAINT [PK_COURSE] PRIMARY KEY CLUSTERED 
(
	[Course_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAJOR]    Script Date: 8/14/2019 1:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAJOR](
	[Major_ID] [int] NOT NULL,
	[Course_ID] [int] NOT NULL,
	[Major_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MAJOR] PRIMARY KEY CLUSTERED 
(
	[Major_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAJORDEATIL]    Script Date: 8/14/2019 1:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAJORDEATIL](
	[Detail_ID] [int] NOT NULL,
	[Major_ID] [int] NOT NULL,
	[Subject_ID] [int] NOT NULL,
	[Decription] [nvarchar](255) NULL,
 CONSTRAINT [PK_MAJORDEATIL] PRIMARY KEY CLUSTERED 
(
	[Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROFILE]    Script Date: 8/14/2019 1:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILE](
	[Profile_ID] [int] NOT NULL,
	[Copy_Card] [bit] NOT NULL,
	[Photo] [bit] NOT NULL,
	[Transcript] [bit] NOT NULL,
 CONSTRAINT [PK_PROFILE] PRIMARY KEY CLUSTERED 
(
	[Profile_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SCHOOL]    Script Date: 8/14/2019 1:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHOOL](
	[School_ID] [int] NOT NULL,
	[School_Code] [int] NOT NULL,
	[School_Name] [nvarchar](50) NOT NULL,
	[Addresses] [nvarchar](50) NOT NULL,
	[Contact_information] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SCHOOL] PRIMARY KEY CLUSTERED 
(
	[School_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 8/14/2019 1:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[Student_ID] [int] NOT NULL,
	[Student_Code] [nvarchar](50) NOT NULL,
	[Student_Name] [nvarchar](50) NOT NULL,
	[Identification_Card] [int] NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Birthday] [date] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Graduation] [date] NOT NULL,
	[Major_ID] [int] NOT NULL,
	[Profile_ID] [int] NOT NULL,
	[Classify_ID] [int] NOT NULL,
	[School_ID] [int] NOT NULL,
	[Course_ID] [int] NOT NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUBJECT]    Script Date: 8/14/2019 1:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT](
	[Subject_ID] [int] NOT NULL,
	[Subject_Code] [int] NOT NULL,
	[Subject_Name] [nvarchar](50) NOT NULL,
	[Score_Pass] [text] NOT NULL,
	[Time] [nchar](10) NOT NULL,
 CONSTRAINT [PK_SUBJECT] PRIMARY KEY CLUSTERED 
(
	[Subject_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[MAJOR]  WITH CHECK ADD  CONSTRAINT [FK_MAJOR_COURSE] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[COURSE] ([Course_ID])
GO
ALTER TABLE [dbo].[MAJOR] CHECK CONSTRAINT [FK_MAJOR_COURSE]
GO
ALTER TABLE [dbo].[MAJORDEATIL]  WITH CHECK ADD  CONSTRAINT [FK_MAJORDEATIL_MAJOR] FOREIGN KEY([Major_ID])
REFERENCES [dbo].[MAJOR] ([Major_ID])
GO
ALTER TABLE [dbo].[MAJORDEATIL] CHECK CONSTRAINT [FK_MAJORDEATIL_MAJOR]
GO
ALTER TABLE [dbo].[MAJORDEATIL]  WITH CHECK ADD  CONSTRAINT [FK_MAJORDEATIL_SUBJECT] FOREIGN KEY([Subject_ID])
REFERENCES [dbo].[SUBJECT] ([Subject_ID])
GO
ALTER TABLE [dbo].[MAJORDEATIL] CHECK CONSTRAINT [FK_MAJORDEATIL_SUBJECT]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_CLASSIFY] FOREIGN KEY([Classify_ID])
REFERENCES [dbo].[CLASSIFY] ([Classify_ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_CLASSIFY]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COURSE] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[COURSE] ([Course_ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_COURSE]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_MAJOR] FOREIGN KEY([Major_ID])
REFERENCES [dbo].[MAJOR] ([Major_ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_MAJOR]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_PROFILE] FOREIGN KEY([Profile_ID])
REFERENCES [dbo].[PROFILE] ([Profile_ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_PROFILE]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_SCHOOL] FOREIGN KEY([School_ID])
REFERENCES [dbo].[SCHOOL] ([School_ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_SCHOOL]
GO
