<div class="container">
    <h2>Major Details</h2>
    <hr />
    <div *ngIf="major">
      <form>
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" class="form-control" [(ngModel)]="major.mjName" name="mjName">
        </div>
        <div class="form-group">
          <label for="name">Major Code</label>
          <input type="text" class="form-control" id="mjCode" required [(ngModel)]="major.mjCode" name="mjCode">
        </div>
        <button class="btn btn-primary" (click)="update()">Update</button>
      </form>
    </div>
  
    <br>
    <br>
    <button (click)="list()" class="btn btn-primary">Back to Major List</button><br>
  </div>
  